.Search {
  padding: 30px;
  text-align: left;
}

.Search .searchBar {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  padding-top: 0px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.Search .inputBox {
  margin-top: 0px;
  font-size: 14px;
}

.Search #searchBtn {
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Search #searchInfo {
  padding-top: 5px;
  font-size: 12px;
  font-weight: normal;
}

.Search .searchedForText {
  font-size: 14px;
  display: flex;
}

.Search .searchedForText span {
  padding-left: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.Search .searchedFor hr {
  margin-top: 0px;
}

.Search .resultsMain {
  margin-left: 10px;
  margin-right: 10px;
}

.Search .resultHeader {
  width: 100%;
  display: flex;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  padding-bottom: 10px;
}

.Search .resultHeader #results {
  margin-right: auto;
}

.Search .SortBy {
  display: inline-flex;
  width: 25%;
  margin-left: auto;
}

.Search .SortBy p {
  font-weight: bold;
  padding-right: 10px;
}

.Search .SortBy select {
  border-radius: 10px;
  padding: 5px;
}

.Search .footer {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.Search .footer p {
  padding-left: 10px;
  font-size: 14px;
}

.Search .pagination {
  width: 20%;
  margin: 0 auto;
}

.Search .pagination p {
  color: black;
  background-color: white;
  float: left;
  font-size: 14px;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.Search .pagination p.active {
  background-color: grey;
  color: white;
  border: 1px solid grey;
  text-decoration: none;
  cursor: pointer;
}

.Search .pagination p:hover:not(.active) {
  background-color: #ddd; 
  text-decoration: none; 
  color: black; 
  cursor: pointer;
}

.Search .pagination p:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Search .pagination p:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
