.SearchResult {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.SearchResult #img1 {
  width: 17%;
}

.SearchResult .bookMain {
  width: 60%;
  padding-left: 20px;
}

.SearchResult .bookMain h6 {
  font-size: 18px;
  font-weight: bold;
}

.SearchResult .bookMain p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.SearchResult .bookSide {
  text-align: right;
  width: 23%;
  padding-top: 10px;
}

.SearchResult .bookside h6 {
  font-size: 18px;
  font-weight: bold;
}

.SearchResult .bookSide p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.SearchResult .bookSide #buyBtn {
  background-color: #61000b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#checkoutHeader {
  padding: 8px !important;
  margin: 0px !important;
}

.orderInfoBox {
  width: 100%;
}

.checkoutBody {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-right: 1px !important;
  padding-left: 8px !important;
  margin: 0px !important;
  border: 1px solid lightgrey;
  border-right-color: white;
  border-left-color: white;
}

.checkoutBodyH {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 1px !important;
  padding-left: 8px !important;
  margin: 0px !important;
  border: 0.5px solid black;
  background-color: lightgrey;
  border-right-color: lightgray;
  border-left-color: lightgray;
}

.checkoutBodyT {
  display: flex;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-right: 1px !important;
  padding-left: 8px !important;
  margin: 0px !important;
  border: 1px solid lightgrey;
  border-right-color: white;
  border-left-color: white;
}

.checkOrder {
  display: flex;
  margin: 0px !important;
}

#orderImg {
  width: 10%;
  margin-right: 10px;
}

.orderText {
  width: 90%;
}

#orderTitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

#orderAuthor {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

#order1 {
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;
}

#orderTotal {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  width:50%;
  
}

#orderPrice {
  width:45%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

#checkoutfooter {
  padding: 3px !important;
  margin: 0px !important;
}

#payBtn {
  padding: 5px;
  margin: 0px !important;
  font-size: 16px;
}

#cancelBtn {
  padding: 5px;
  font-size: 16px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 15px !important;
}

.purchaseMsg h6 {
  color:forestgreen;
}