.SearchResult {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.SearchResult img {
  width: 17%;
}

.SearchResult .bookMain {
  width: 60%;
  padding-left: 20px;
}

.SearchResult .bookMain h6 {
  font-size: 18px;
  font-weight: bold;
}

.SearchResult .bookMain p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.SearchResult .bookSide {
  text-align: right;
  width: 23%;
  padding-top: 10px;
}

.SearchResult .bookside h6 {
  font-size: 18px;
  font-weight: bold;
}

.SearchResult .bookSide p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.SearchResult .bookSide #buyBtn {
  background-color: #61000b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
