.webHeader {
  background-color: #61000b;
  height: 100px;
}

.headertitle {
  display: inline-block !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.webHeader1 {
  font-weight: bold;
  color: white !important;
  padding: 0px !important;
}

.logoClass {
  height: 8%;
  width: 8%;
  padding: 0px !important;
  margin: 0px !important;
  vertical-align: middle !important;
}

.inden {
  text-indent: 1.5em;
}

.col-10 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}

.col-2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}

.image2 {
  width: 50%;
  height: 50%;
  padding-top: 20px;
  vertical-align: middle !important;
}
.notbold {
  font-weight: normal;
}
.cards {
  background-color: rgb(252, 243, 240) !important;
}
.cardcen {
  padding-top: 30px;
  vertical-align: middle !important;
}
.buttonz {
  padding-top: 30px;
  vertical-align: middle !important;
}
.button {
  padding: 10px;
}
.sidebar {
  position: fixed;
  height: 100vh;
  background-color: #ffffea;
  padding: 20px 0 0;
}
#sidebar-wrapper {
  background-color: #ffffea;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  min-height: 100vh !important;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  padding: 10px;
}
.link {
  color: rgb(32, 8, 8);
}
.link:hover {
  color: rgb(197, 17, 17);
}

.itemz {
  color: #ff0000;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
